<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <a class="navbar-brand" href="/">Calendly</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a>
      <a class="nav-item nav-link" href="/about">About</a>
      <a class="nav-item nav-link" href="/cardz/new">Create Card</a>
      <a class="nav-item nav-link" href="/cardz">My Cards</a>
      <ul className="navbar-nav me-auto mb-2 mb-lg-0">
       <%
=begin%>
 <li class="nav-items"> 
<%
=end%>
  
  <div class="d-flex ms-auto">
       <%if Current.person%>
  <%=button_to 'Change Password' , edit_password_path, method: :get %>
  <%
=begin%>
 </li> 
<%
=end%>
   <%
=begin%>
 <li class="nav-items"> 
<%
=end%>
<ul className="navbar-nav me-auto mb-8 mb-lg-9">
  <%=button_to "Logout", logout_path, method: :delete %>
  </ul>

  <%
=begin%>
 </li> 
<%
=end%>
  <%else%>
  <ul className="navbar-nav me-auto mb-8 mb-lg-9">
  <%=button_to "Login",sign_in_path, method: :get%>
  </ul>
  <ul className="navbar-nav me-auto mb-8 mb-lg-9">
  <%=button_to "Sign Up", sign_up_path, method: :get%>
  </ul>
  <%end%>
  </div>
      </ul>
    </div>
  </div>
</nav>